<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App Template</title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <h1>Testing ejs</h1>
    <script src="/public/main.js">

    </script>
  </body>
</html>
